{% extends 'base.html.twig' %}

{% block title %}Course Page{% endblock %}
{% block meta_description %}
    <meta name="description" content="Course Page - Details of the selected course {{ course.name }}.">
{% endblock %}

{% block body %}
    <div class="container mx-auto px-6 py-8">

        <!-- JSON version -->
        {# {{ dump(jsonCourses) }} #}

        <!-- Course Title -->
        <div class="mb-6">
            <h1 class="text-4xl font-semibold text-gray-800">{{ course.name }}</h1>
        </div>

        <!-- Course Description -->
        <div class="mt-4">
            <p class="text-lg text-gray-600">{{ course.description }}</p>
        </div>

        <div class="mt-6">
            <h2 class="text-2xl font-medium my-4">Trainings that included this course</h2>
            <div class="flex flex-wrap gap-4">
                {% if course.trainings is empty %}
                    <div class="w-full text-gray-500">
                        <p>No trainings are included in this course.</p>
                    </div>
                {% else %}
                    {% for training in course.trainings %}
                        <div class="flex flex-col flex-wrap justify-center items-center h-[150px] w-full md:w-[350px] p-3 bg-slate-300 rounded-md">
                            <a href="{{ path('show_training', {'slug': training.slug}) }}" class="text-center">{{ training.title }}</a>
                            <div class="text-center">
                                <p class="text-sm text-slate-600">{{ training.startDate | date('Y-m-d') }}</p>
                                <p class="text-sm text-slate-600">{{ training.endDate | date('Y-m-d') }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
