{% import 'macros/level.twig' as level_macro %}

{% set borderColor = {
    'beginner': 'border-l-green-600',
    'intermediate': 'border-l-amber-600',
    'expert': 'border-l-red-600'
}[training.level] | default('bg-gray-400') %}

<!-- Container for the training card with hover effect and smooth transition -->
<div class="relative border-l-2 {{ borderColor }} bg-white hover:bg-blue-100 p-6 rounded-xl transition-all duration-300 ease-in-out flex flex-col justify-between">
    
    <!-- Check if the user has the permission to create a training -->
    {% if is_granted("TRAINING_CREATE", training) %}
        
        <!-- Set the background color for the training status -->
        {% set bgColor = {
            'draft': 'bg-gray-400',
            'review': 'bg-blue-400',
            'confirmed': 'bg-green-400'
        }[training.status] | default('bg-gray-400') %}

        <!-- Render a small dot with the background color indicating the training status -->
        <div class="absolute top-3 right-3 h-[10px] w-[10px] {{ bgColor }}  rounded-full"></div>    
    {% endif %}
    
    <div>
        <!-- Include a header card component with the training's title, route, and icon -->
        {% include 'components/ui/header_card.html.twig' with { 
            'title': training | translate('title'), 
            'route': 'show_training',
            'slug': training.slug, 
            'icon': '<i class="fas fa-graduation-cap"></i>' 
        } %}
        
        <!-- Display the training description, truncated to 150 characters -->
        <p class="text-gray-600 mb-4">{{ training | translate('description') | slice(0, 150) }}...</p>
    </div>
    
    <div>
        {% if app.user %}
            {% if not is_granted("ROLE_ADMIN") %}
                {% if app.user.isEnrolledInTraining(training) %}
                    <!-- Show a "In" badge if the user is enrolled -->
                    <div class="absolute bottom-7 right-3 bg-green-400 text-white text-xs py-1 px-3 rounded-full">
                        <i class="fa-solid fa-arrow-down"></i>
                    </div>
                {% endif %}
            {% endif %}

            <!-- Display the price of the training -->
            <p class="text-xl font-semibold text-indigo-700 hover:text-indigo-800 transition-colors duration-300">
                <i class="fa-solid fa-tag mr-2"></i>    
                {{ training.price }} €
            </p>
        {% endif %}
        
        <!-- Display the training date range -->
        <div class="flex flex-col sm:flex-row gap-2 mt-3">
            <span class="inline-flex items-center text-sm">
                <i class="fa-regular fa-calendar"></i>
                <span class="ml-2">
                    {{ 'dates.from' | trans }} {{ training.startDate|date('d M Y') }}
                    {{ 'dates.to' | trans }} {{ training.endDate|date('d M Y') }}
                </span>
            </span>
        </div>

        <div class="mt-8">
            {{ level_macro.level_badge(training.level) }}
        </div>
    </div>
</div>
