<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Welcome!{% endblock %}</title>
    
    <!-- Favicon SVG -->
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="bg-gray-100 font-sans antialiased">

    <!-- Header with Navigation -->
    <header class="bg-slate-600 text-white shadow-md">
        <div class="container mx-auto px-6 py-4">
            <nav class="flex justify-between items-center">
                <div class="flex gap-5 items-center">
                    <a href="{{ path('app_training') }}" class="text-md font-semibold hover:text-indigo-200">Trainings</a>
                    <a href="{{ path('app_course') }}" class="text-md font-semibold hover:text-indigo-200">Courses</a>
                </div>

                <div class="flex gap-5 items-center">
                    {% if app.user %}
                        <span class="text-md font-thin">{{ app.user.email }}</span>
                        <a data-turbo="false" href="{{ path('app_logout') }}" class="text-md font-semibold hover:text-indigo-200">Logout</a>

                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{ path('admin') }}" class="text-md font-semibold hover:text-indigo-200">Admin</a>
                        {% endif %}
                    {% else %}
                        <a href="{{ path('app_register') }}" class="text-md font-semibold hover:text-indigo-200">Register</a>
                        <a href="{{ path('app_login') }}" class="text-md font-semibold hover:text-indigo-200">Login</a>
                    {% endif %}
                </div>
            </nav>
        </div>
    </header>

    <!-- Main content -->
    <main class="container mx-auto px-6 py-8">
        {% if app.user %}
            <p class="text-lg text-gray-600 mb-4">{{ app.user.roles | join(', ') }}</p>
        {% else %}
            <p class="text-lg text-gray-600 mb-4">Please register or login to access our trainings and courses.</p>
        {% endif %}

        {% block body %}{% endblock %}
    </main>
</body>
</html>
