<div class="relative bg-white hover:bg-blue-100 p-6 rounded-xl transition-all duration-300 ease-in-out flex flex-col justify-between">
    {% if is_granted("TRAINING_CREATE", training) %}

        {% set bgColor = {
            'draft': 'bg-gray-400',
            'review': 'bg-blue-400',
            'confirmed': 'bg-green-400'
        }[training.status] | default('bg-gray-400') %}

        <div class="absolute top-3 right-3 h-[10px] w-[10px] {{ bgColor }}  rounded-full"></div>    
    {% endif %}
    
    <div>
        {% include 'components/header_card.html.twig' with { 
            'title': training.title, 
            'route': 'show_training', 
            'slug': training.slug, 
            'icon': '<i class="fas fa-graduation-cap"></i>' 
        } %}
        <p class="text-gray-600 mb-4">{{ training.description | slice(0, 150) }}...</p>
    </div>
    <div>
        <p class="text-lg font-medium text-indigo-600">{{ training.price }} €</p>
        
        <!-- Date Display -->
        <div class="flex flex-col sm:flex-row gap-2 mt-3">
            <span class="inline-flex items-center text-sm">
                <i class="fa-regular fa-calendar"></i>
                <span class="ml-2">
                    From {{ training.startDate|date('F j, Y') }}
                    to {{ training.endDate|date('F j, Y') }}
                </span>
            </span>
        </div>
    </div>
</div>
