<div class="relative bg-white p-6 rounded-xl transition-all duration-300 ease-in-out flex flex-col justify-between">
    <div>
        {# <h2 class="text-3xl font-semibold text-gray-900 mb-3">
            <a href="{{ path('show_training', {'id': training.id}) }}" class="text-indigo-600 hover:underline">{{ training.title }}</a>
        </h2> #}
        {% include 'components/header_card.html.twig' with { 
            'title': training.title, 
            'route': 'show_training', 
            'id': training.id, 
            'icon': '<i class="fas fa-graduation-cap"></i>' 
        } %}
        <p class="text-gray-600 mb-4">{{ training.description | slice(0, 150) }}...</p>
    </div>
    <div>
        <p class="text-lg font-medium text-indigo-600">{{ training.price }} €</p>
        
        <!-- Date Display -->
        <div class="flex flex-col sm:flex-row gap-2 mt-3">
            <span class="inline-flex items-center px-3 py-1 text-sm font-medium text-white bg-slate-600 rounded-lg">
                From {{ training.startDate|date('F j, Y') }}
                to {{ training.endDate|date('F j, Y') }}
            </span>
        </div>
        {# <div class="mt-4">
            <a href="{{ path('show_training', {'id': training.id}) }}" class="text-indigo-500 hover:text-indigo-600">Read more</a>
        </div> #}
    </div>
</div>
