{% extends 'base.html.twig' %}

{% block title %}Trainings List{% endblock %}
{% block meta_description %}
    <meta name="description" content="Trainings Page - List of all available trainings.">
{% endblock %}

{% block body %}
    <div class="container max-w-7xl mx-auto py-8">
        {% include 'components/ui/page_title.html.twig' with { 'title': 'page_title.trainings', 'count': totalTrainings } %}

        
        <div class="bg-indigo-100 p-6 mb-8 rounded-lg">
            <p class="text-gray-700">
                {{ 'page_description.trainings'|trans }}
            </p>
        </div>
        
        <div class="mb-6">
            {% include 'components/ui/create_button.html.twig' with { 'route': 'new_training', 'label': 'create_button.training' | trans } %}
        </div>

        <div class="mb-6">
            <form method="get" action="{{ path("app_training")}}" class="flex gap-4">
                <div class="flex items-center">
                    <label for="level" class="mr-2 text-gray-700">{{ 'filter.label' | trans }} : </label>
                    <select name="level" id="level" class="px-4 py-2 border rounded-lg bg-white">
                        <option value="">{{ 'filter.label_all' | trans }}</option>
                        <option value="beginner" {% if app.request.query.get('level') == 'beginner' %}selected{% endif %}>{{ 'filter.label_beginner' | trans }}</option>
                        <option value="intermediate" {% if app.request.query.get('level') == 'intermediate' %}selected{% endif %}>{{ 'filter.label_intermediate' | trans }}</option>
                        <option value="expert" {% if app.request.query.get('level') == 'expert' %}selected{% endif %}>{{ 'filter.label_expert' | trans }}</option>
                    </select>
                </div>
                <button type="submit" class="bg-indigo-500 text-white px-4 py-2 rounded-lg">{{ 'filter.apply_button' | trans }}</button>
            </form>
        </div>

        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
            {% for training in trainings %}
                {% include 'components/training/training_card.html.twig' %}
            {% endfor %}
        </div>    
        {{ knp_pagination_render(trainings) }}
    </div>
{% endblock %}
