{% extends 'base.html.twig' %}

{% import 'macros/status.twig' as status_macro %}
{% import 'macros/level.twig' as level_macro %}

{% block title %}Training Page{% endblock %}
{% block meta_description %}
    <meta name="description" content="Training Page - Details of the training {{ training.title }}.">
{% endblock %}

{% block body %}
    <div class="container mx-auto px-6 py-8">
        <!-- Title and Description -->
        <div class="mb-6">

            <h1 class="flex flex-col md:flex-row md:items-center gap-2 text-4xl font-semibold text-gray-800 mb-8">
                {{ training.title }}
                {% if is_granted('TRAINING_CREATE', training) %}
                    {{ status_macro.status_class(training.status) }}
                {% endif %}
                {{ level_macro.level_badge(training.level) }}
            </h1>

            <p class="text-lg text-gray-600 mt-2">{{ training.description }}</p>
            {% if app.user %}
                <p class="text-xl font-bold text-indigo-600 mt-4">{{ training.price }} €</p>
            {% endif %}
        </div>

        <div class="my-5">
            {% if is_granted('TRAINING_CREATE', training) %}
            
                {% if training.status == 'draft' %}
                    <a data-turbo="false" href="{{ path('training_to_review', {'id': training.id}) }}" 
                        class="inline-block px-4 py-2 mt-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600 transition-colors duration-200">
                        Move to Review
                    </a>
                {% elseif training.status == 'review' %}
                    <a data-turbo="false" href="{{ path('training_to_confirmed', {'id': training.id}) }}" 
                        class="inline-block px-4 py-2 mt-2 bg-green-500 text-white rounded-lg hover:bg-green-600 transition-colors duration-200">
                        Confirm Training
                    </a>
                    <a data-turbo="false" href="{{ path('training_to_draft', {'id': training.id}) }}" 
                        class="inline-block px-4 py-2 mt-2 ml-2 bg-yellow-500 text-white rounded-lg hover:bg-yellow-600 transition-colors duration-200">
                        Revert to Draft
                    </a>
                {% endif %}
            {% endif %}
        </div>
        
        <div class="mt-8 w-full {% if is_granted('ROLE_STUDENT') %} lg:w-full {% else %} lg:w-1/2 {% endif %}">
            <h2 class="text-2xl font-semibold text-gray-700 mb-6">Upcoming Trainings</h2>
            
            <!-- Section pour les sessions programmées -->
            <div class="flex flex-col gap-3">
                {% set random_count = random(1, 4) %}
                {% set selected_trainings = upcomingTrainings|slice(0, random_count) %}

                {% for training in selected_trainings %}
                    {% include 'components/training/upcoming_training.html.twig' with {'training': training} %}
                {% endfor %}
            </div>
        </div>            


        {% if is_granted('TRAINING_SUBSCRIBE', training) %}
            {% if isEnrolled %}
                <form action="{{ path('enroll_training', {'id': training.id}) }}" method="post">
                    <button type="submit" class="py-2 px-4 bg-red-600 text-white font-semibold rounded-lg shadow-md hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500">
                        Unsubscribe
                    </button>
                </form>
            {% else %}
                <form action="{{ path('enroll_training', {'id': training.id}) }}" method="post">
                    <button type="submit" class="py-2 px-4 bg-blue-600 text-white font-semibold rounded-lg shadow-md hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500">
                        Subscribe
                    </button>
                </form>
            {% endif %}
        {% endif %}

        <div class="flex flex-col lg:flex-row gap-6">
            <!-- Courses Section -->
            <div class="mt-8 w-full {% if is_granted('ROLE_STUDENT') %} lg:w-full {% else %} lg:w-1/2 {% endif %}">
                <h2 class="text-2xl font-semibold text-gray-700">Scheduled Courses</h2>
                {% if training.courses is empty %}
                    <div class="w-full text-gray-500 mt-4 mb-8">
                        <p>No courses are included in this training.</p>
                    </div>
                {% else %}
                    <ul class="mt-4 grid grid-cols-1 md:grid-cols-3 gap-2">
                        {% for course in training.courses %}
                            {% include 'components/course/course_item.html.twig' with { 'course': course, 'borderColor': 'border-l-green-500' } %}
                        {% endfor %}
                    </ul>                
                {% endif %}

                <h2 class="text-2xl font-semibold text-gray-700 mt-10">Not Scheduled Courses</h2>

                <!-- Accordéon des cours non programmés -->
                <div class="mt-4 space-y-4">
                    <details class="border-b border-gray-300">
                        <summary class="w-full text-left py-2 px-4 flex justify-between items-center bg-gray-100 hover:bg-gray-200 cursor-pointer">
                            <span class="text-lg text-blue-600 font-semibold">View Unscheduled Courses</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5 text-gray-600" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path>
                            </svg>
                        </summary>

                        <div class="px-4 py-2">
                            <ul class="grid grid-cols-1 md:grid-cols-3 gap-2">
                                {% for course in coursesNotInTraining %}
                                    {% include 'components/course/course_item.html.twig' with { 'course': course, 'borderColor': 'border-l-red-500' } %}
                                {% endfor %}
                            </ul>
                        </div>
                    </details>
                </div>
            </div>
    
            <!-- Students -->
            {% if is_granted('TRAINING_VIEW_STUDENTS', training) %}
            <div class="mt-8 w-full lg:w-1/2">
                <h2 class="text-2xl font-semibold text-gray-700">Trainees</h2>

                {% if training.courses is empty %}
                    <div class="w-full text-gray-500 mt-4 mb-8">
                        <p>No trainees enrolled in this training.</p>
                    </div>
                {% else %}
                    <ul class="mt-4 space-y-4">
                        {% for student in trainees %}
                            {% include 'components/user/student_item.html.twig' %}
                        {% endfor %}
                    </ul>
                {% endif %}
                
            </div>
            {% endif %}
        </div>

{% endblock %}
