{% extends 'base.html.twig' %}

{% block title %}Student{% endblock %}

{% block body %}
<div class="container max-w-7xl mx-auto py-8">
    <h1 class="text-5xl font-bold text-gray-800 mb-8 flex items-center">
        {{ student.fullName }} 
    </h1>

    <h2 class="text-2xl font-semibold text-gray-800 mb-8 flex items-center">Enrolled Trainings</h2>
    <div class="grid gap-3">
        {% for training in student.trainings %}
            <div class="bg-white shadow-md rounded-lg p-8 mb-4">
                <h3 class="text-xl font-semibold text-gray-800">{{ training.title }}</h3>
                <p class="text-gray-600">{{ training.description }}</p>
                <p class="text-gray-500 my-4"><i class="fa-regular fa-calendar-check"></i> {{ training.startDate|date('Y-m-d') }} to {{ training.endDate|date('Y-m-d') }}</p>
                <a class="text-red-700" href="{{ path('unenroll_training', {'training': training.id, 'trainee': student.id})}}"><i class="fa-solid fa-xmark"></i> Unenroll</a>
            </div>
        {% else %}
            <p class="col-span-4 text-center text-gray-500">No trainings found.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}